@font: 'Verdana';
@fontSize: 12px;
@fontColor: #333;
@backgroundColor: #eee;
@linkColor: #5a96ba;
@linkColorHover: darken(@linkColor, 20%);
@inputBackground: #fff;
@inputBackgroundHover: darken(@inputBackground,20%);
@buttonColor: #333;
@success: #468847;
@warning: #F89406;
@error: #B94A48;
@primary: #467888;

.header(@size: 0px) {
    font-family: @font;
    font-size: (@fontSize - @size);
    line-height: ((@fontSize - @size) + 2);

    .strong {
        font-family: @font;
    }
}

.transition(@transitionDuration: .3s, @transitionPropery: all, @transitionTiming: ease) {
    -moz-transition: @transitionPropery @transitionDuration @transitionTiming;
    -o-transition: @transitionPropery @transitionDuration @transitionTiming;
    -webkit-transition: @transitionPropery @transitionDuration @transitionTiming;
    transition: @transitionPropery @transitionDuration @transitionTiming;
}

.clearfix() {
    content: '';
    display: block;
    clear: both;
}


body {
    background: @backgroundColor;
    color: @fontColor;
    font: @font @fontSize;
}

.background {
    &.error {
        background: @error;
    }

    &.warning {
        background: @warning;
    }
}

ul {
    &.unstyled {
        list-style-type: none;
        margin: 0;
        padding: 0;

        &.inline {
            li {
                display: inline-block;
            }
        }
    }
}

h1 {
    .header()
}

h2 {
    .header(6px)
}

h3 {
    .header(12px)
}

h4 {
    .header(18px)
}

h5 {
    .header(24px)
}

h6 {
    .header(30px)
}

input, textarea, select {
    border: 0;
    padding: 10px;
    width: 320px;
    resize: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: @inputBackground;

    &:hover {
        background: @inputBackgroundHover;
    }

    &:focus {
        outline: none;
    }

    &.fill {
        display: block;
        width: 100%;
    }

    &.parsley-error {
        background: lighten(@error,40%);
        color: @error;
    }
}

ul.parsley-error-list {
    display: none;
}

a {
    color: @linkColor;
    text-decoration: none;

    &:hover {
        color: @linkColorHover;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.button(@color: @buttonColor) {
    background: @color;

    &:hover {
        background: lighten(@color, 5%);
    }

    &:active {
        background: darken(@color, 5%);
    }

    &:disabled {
        background: lighten(@color, 35%);
        cursor: default;
    }
}


.btn {
    .button();
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    border: 0;
    .transition();

    i {
        margin-right: 5px;
    }

    &.btn-inline {
        display: inline;
    }

    &.btn-fill {
        display: block;
        width: 100%;
    }

    &.btn-success {
        .button(@success);
    }

    &.btn-error {
        .button(@error);
    }

    &.btn-warning {
        .button(@warning);
    }

    &.btn-primary {
        .button(@primary);
    }
}
